<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Sheet</ion-title>
    <ion-button fill="clear" slot="start" [routerLink]="['/inicio']"> <!--tiene que volver-->
      <ion-icon color="medium" name="arrow-back-outline" size="large"></ion-icon> <!--COLOR-->
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      @for (componente of inicio; track componente) {
        <ion-col>
          <ion-chip color="primary">
            <ion-avatar>
              <ion-img [src]="componente.ruta + '/' + componente.imagen"></ion-img>
            </ion-avatar>
            <ion-label>{{ componente.nombre }}</ion-label>
          </ion-chip>
        </ion-col>
      }
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="auto">
        <ion-button fill="clear" id="avatar-change-alert">
          <ion-avatar>
            <ion-img [src]="currentAvatar"></ion-img>
          </ion-avatar>
        </ion-button>
        <ion-action-sheet  trigger="avatar-change-alert"
                   header="Cambiar avatar"
                   [buttons]="avatarChangeAlert">
        </ion-action-sheet>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
