<app-header></app-header>
<app-menu/>

<ion-content class="ion-padding-top" id="main-content">
  <ion-grid>
    <ion-title class="ion-text-center">EXTRA</ion-title>
    <ion-row class="ion-padding-top">
      <ion-col class="ion-text-center">
        <ion-button shape="round" [routerLink]="['/inicio']" color="primary">
          BACK
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col>
          <ion-menu-button>
            <ion-button shape="round" color="danger" fill="outline"> HELP</ion-button>
          </ion-menu-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
