<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title color="primary">{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class ="products-container">
    @for (slide of products; track $index){
      <ion-card mode="md">
        <swiper-container pagination="true">
          <!--SLIDE 1-->
          <swiper-slide class="slide-1">
            <div class="slide-content">
              <div class="image-container">
                <ion-img [src]="slide.image" class="product-image" alt="Imagen en slide"></ion-img>
              </div>
              <div class="text-container">
                <ion-card-header>
                  <ion-card-title class="product-title">{{slide.title}}</ion-card-title>
                  <ion-card-subtitle class="product-category">{{slide.category}}</ion-card-subtitle>
                </ion-card-header>
              </div>
            </div>
          </swiper-slide>

            <!--SLIDE 2-->
          <swiper-slide class="slide-2">
            <div class="slide-content">
              <ion-item class="price-item" color="tertiary">
                <ion-icon slot="end" name="alarm-outline" color="light"></ion-icon>
                <ion-label class="price-label" >{{slide.price | euro}}</ion-label>
              </ion-item>
              <ion-card-content class="description-content">
                <p class="product-description">{{slide.description}}</p>
              </ion-card-content>
            </div>
          </swiper-slide>
          </swiper-container>
        </ion-card>
    }
    <!--badges that shows on witch page u r on-->
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center"> <!--Currency-->
    <ion-fab-button (click)="changeRandomTitle()" color="light">
      <ion-icon name="color-wand-outline" color="primary"> </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
